@media (max-width:767px) {
    .home-buy .bg {
        padding: 30px 20px !important;
        border-radius: 20px;
    }
    .guide-right {
        margin-top: 30px
    }
    .about h5 {
        font-size: 33px !important;
    }
    .main-header.about-header h1 {
        font-size: 8vw;
    }
    .about-header h5 {
        font-size: 3.8vw;
    }
    .contact .title {
        font-size: 35px !important;
    }
    .main-header h3 {
        font-size: 5vw;
    }
    .main-header h1 {
        font-size: 8vw;
    }
    .main-header h4 {
        font-size: 6vw
    }
    .main-header .btn {
        font-size: 4.3vw
    }
    footer .row {
        text-align: center
    }
    .work-with-us {
        text-align: center;
    }
    .work-with-us .overlay {
        padding: 100px 0
    }
    .work-with-us p {
        margin: 0 auto
    }
    .main-header.sell-header h1 {
        font-size: 40px !important;
        margin-top: 20px
    }
    .main-header.sell-header p {
        font-size: 18px !important;
        max-width: 100%;
        margin: 15px auto 0;
    }
    .main-header.sell-header .overlay {
        padding: 120px 0 50px
    }
}

@media (max-width:991px) {
    .main-header.home-buy {
        height: auto !important;
    }
    .main-header.home-buy .overlay {
        padding: 80px 0;
    }
    .navbar-nav .dropdown-menu {
        background: black
    }
    .navbar-nav .dropdown-menu a {
        color: white
    }
    .selling-service .row .col-lg-4 {
        border-bottom: 1px solid #CCC;
        border-right: none !important;
        padding: 30px 0;
        margin: 0 30px
    }
    .sell-black-bg {
        text-align: center
    }
    .sell-black-bg h1 {
        margin: 0 auto 20px
    }
    .sell-black-bg img {
        width: 100%;
        margin-bottom: 30px
    }
    .about-header .container .col-lg-9,
    .about-header .container .col-lg-3 {
        padding: 15px;
    }
    .about-header .content {
        position: relative;
        top: 0;
        left: 0;
    }
    .about-header .about-img {
        right: 0;
    }
    .contact .title {
        font-size: 50px;
    }
    .contact .right-side {
        margin-top: 85px;
    }
    .services h5 {
        text-align: center;
    }
    .navbar-nav {
        background: black;
        padding: 20px 10px 0;
        z-index: 9999999 !important;
        position: relative;
    }
    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item .nav-link:hover {
        border-bottom: none !important;
        color: #1A7E7B
    }
    .contact-nav .nav-item.active .nav-link,
    .contact-nav .nav-item .nav-link:hover {
        border-bottom: none !important;
        color: #1A7E7B !important
    }
    .dropdown-item.active,
    .dropdown-item:active {
        border-bottom: none !important;
        color: #1A7E7B !important;
        background: none
    }
    .contact-nav .nav-link {
        color: white !important
    }
    .contact-nav button.navbar-toggler {
        border: 1px solid black
    }
    .navbar-nav li {
        margin: 6px 0;
        border-bottom: 1px solid #CCC;
        padding-bottom: 10px;
    }
    footer .footer-links {
        float: none;
        text-align: center
    }
    .navbar-nav li:last-of-type {
        border: none
    }
    footer .row {
        text-align: center
    }
    .footer-logo {
        width: 100px
    }
    .meet-craig .left-bg .overlay {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .meet-craig .left-bg img {
        float: none;
        position: relative;
        left: 0;
        top: 90px;
        width: 100% !important;
        padding: 20px;
    }
    .meet-craig .right-content {
        padding: 150px 0 50px;
        text-align: center;
    }
    .services .img-service {
        margin-bottom: 30px;
    }
    .services .img-service .overlay .content {
        top: 0 !important
    }
    .services h4,
    .services h2,
    .services p {
        text-align: center;
    }
}

@media (min-width:992px) and (max-width:1400px) {
    .meet-craig .right-content {
        padding: 3vw 0% 3vw 18%;
    }
    .meet-craig .left-bg .overlay {
        padding: 10vw 0;
    }
}

@media (min-width:1024px) {
    .navbar {
        padding: 20px 0
    }
    .cursor-dot,
    .cursor-dot-outline {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        z-index: 9999
    }
    .cursor-dot {
        width: 8px;
        height: 8px;
        background-color: #fff;
    }
    .cursor-dot-outline {
        width: 40px;
        height: 40px;
        background-color: rgba(32, 212, 137, 0.308);
    }
}

@media (max-width:1400px) {
    .contact .right-side .side-content ul li {
        font-size: 14px !important;
    }
}

@media (max-width:992px) and (min-width:1600px) {
    .about-header .about-img {
        right: 28%;
    }
}

@media (max-width:400px) {
    nav .navbar-brand img {
        width: 61vw;
    }
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav {
        margin: 10px 0;
        padding: 10px 0;
    }
}